<li class="finalFilmItem" style="margin-top: 3rem;">
	<% if(movie.poster_path !== null) { %>
		<img
			src="https://image.tmdb.org/t/p/w185/<%= movie.poster_path %>"
			alt="poster"
		/>
		<% } else { %>
		<img src="<%= url %>/assets/images/backdrop_poster.png" alt="poster" />
		<% } %>
	<h2><%= movie.title %></h2>
</li>
