<nav>
	<div class="nav-bg">
		<ul class="nav-container">
			<li class="nav-item">Inzendingen</li>
			<li class="nav-item">Berichten</li>
			<li class="nav-item">Vrijwilligers</li>
			<li class="nav-item">Planning</li>
		</ul>
	</div>
</nav>
