<nav>
	<div class="nav-bg">
		<div class="content-wrapper">
			<ul class="nav-container">
				<li class="nav-item planning">Planning</li>
				<li class="nav-item berichten">Berichten</li>
				<li class="nav-item inzendingen">Inzendingen</li>
				<li class="nav-item vrijwilligers">Vrijwilligers</li>
			</ul>
		</div>
	</div>
</nav>
