<li class="voteFilmItem">
	<img
		class="voteFilmImage"
		src="https://image.tmdb.org/t/p/w185/<%= vote.film.poster_path %>"
		alt=""
	/>
	<h5 class="voteTitle">
		<%= vote.film.title %>
	</h4>
	<p class="voteVotes">
		<%= vote.votes %>
	</p>
</li>
