<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="./css/reset.css" type="text/css" />
		<link rel="stylesheet" href="./css/style.css" type="text/css" />
		<title>Cinematjes organisatie</title>
	</head>
	<% include ./partials/nav %>
	<body>
		<p class="url" hidden><%= url %></p>
		<h1 hidden>Organisatie</h1>
		<p>Fase van het project: <span class="fase"><%= projectFase %></span></p>
		<div class="reset click">Reset</div>
		<div class="plus click">+ Fase</div>
		<div class="min click">- Fase</div>
		<h2>Vrijwilligers</h2>
		<div class="reload">🔄</div>
		<ul class="vrijwilligersLijst"></ul>
		<script src="./js/api.js"></script>
		<script src="./js/admin.js"></script>
	</body>
</html>
