<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>home</title>
		<style>
			li {
				list-style: none;
			}
		</style>
	</head>
	<body>
		<h1>Cinematjes</h1>
		<form action="">
			<ul class="list"></ul>
			<div class="status"></div>
			<input class="submit" type="submit" />
		</form>
		<!-- <script src="../js/api.js"></script> -->
		<script src="../js/movieDb.js"></script>
	</body>
</html>
