@import url('./admin.css');
@import url('./filmsug.css');
@import url('./nav.css');

html {
	font-size: 62.5%;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: 'Comic Sans', 'Helvetica', 'Arial', sans-serif;
}

.content-wrapper {
	width: 96rem;
	margin: 0 auto;
}

.subtitle {
	font-size: 1.8rem;
}

.fase {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3rem;
}
