<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>home</title>
	</head>
	<body>
		<h1>Cinematjes</h1>
		<p>Welgekomen op de test</p>
		<form action="">
			<label for="id">id<input id="id" type="text"/></label>
			<label for="phase">phase<input id="phase" type="text"/></label>
			<label for="name">name<input id="name" type="text"/></label>
			<input class="submit" type="submit" />
		</form>
		<ul class="list"></ul>
		<script src="../js/api.js"></script>
	</body>
</html>
