<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../../css/filmsug.css" type="text/css" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
		/>
		<title>Filmsuggesties</title>
	</head>
	<body>
		<p class="url" hidden><%= url %></p>
		<h1 hidden>Cinematjes</h1>
		<p class="redirect"></p>
		<div class="searchContainer">
			<input
				class="hidden zoek"
				type="text"
				value=""
				placeholder="&#128269;  Filmtitel"
			/>
			<section class="zoekContainer">
				<ul class="list hidden">
					<li class="instruction">Zoek naar een film!</li>
				</ul>
			</section>
		</div>
		<section class="submitContainer">
			<div class="suggestionsWindow">
				<h2 hidden>Huidige suggesties</h2>
				<p class="suggestionsBtn">
					Huidige suggesties (<span class="amount">0</span>/3)
				</p>
				<div class="currentSuggestions"></div>
				<div class="submit">Verzend suggesties</div>
			</div>
		</section>
		<script src="../js/api.js"></script>
		<script src="../js/movieDb.js"></script>
	</body>
</html>
