.section-contact {
  min-height: 100vh;
  background: black;
  position: relative;
  z-index: 100;
  max-width: 100%;
}

.list-item {
  margin-bottom: 1rem;
  list-style: square;
}

.list {
  margin-left: 6rem;
  margin-top: 2rem;
}

.mail {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  cursor: pointer;
}

.iam {
  margin: 0 auto;
  width: 100%;
}
