.section-projects {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: 5;
  background-color: white;
  position: relative;
  margin-top: 100vh;
}

.projects-overview-grid {
  padding-top: 3rem;
  padding-bottom: 15rem;
  display: grid;
  column-gap: 3rem;
  row-gap: 6rem;

  @media (--sm) {
    grid-template-columns: auto;
  }

  @media (--lg) {
    grid-template-columns: auto auto;
  }

  @media (--xl) {
    grid-template-columns: auto auto auto;
  }
}

.project-cont {
  text-decoration: none;
  cursor: pointer;
}

.project-title {
  color: black;
  grid-area: title;
  /* padding-top: 3rem; */
  max-width: 100%;
  height: auto;
  text-align: center;
}

.project-grid {
  box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, .1);
  display: grid;
  width: min-content;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'img'
    'title'
    'tags';
  row-gap: 3rem;
  transform: scale(1);
  transition: transform .2s;

  &:hover {
    transform: scale(1.05);
  }
}

.project-img-cont {
  grid-area: img;
  display: flex;
  justify-content: center;
}

.project-img {
  @media (--xs) {
    width: 100%;
    height: 100%;
  }
}

.project-desc {
  grid-area: desc;
  line-height: 1.8rem;
}

.project-tags {
  grid-area: tags;
  display: grid;
  margin: 0 auto;
  margin: -1rem 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(3, 1fr);

  @media (--xs) {
    width: 25rem;
  }

  @media (--sm) {
    width: 30rem;
  }
}

.project-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design {
  color: red;
}

.development {
  color: blue;
}

.research {
  color: green;
}

.filter-bg {
  padding: 1rem 2rem;
}

.filter-cont {
  display: grid;
  margin-bottom: 1rem;

  @media (--xs) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'bar'
      'buttons'
      'remove';
  }

  @media (--sm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'bar'
      'buttons'
      'remove';
  }

  @media (--md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'bar'
      'buttons'
      'remove';
  }

  @media (--lg) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'bar buttons'
      'remove .';
  }
}

.search-bar {
  grid-area: bar;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: solid black .2rem;

  @media (--xs) {
    width: 100%;
    margin-bottom: 2rem;
  }

  @media (--sm) {
    width: 100%;
    margin-bottom: 2rem;
  }

  @media (--md) {
    width: 100%;
    margin-bottom: 2rem;
  }

  @media (--lg) {
    margin-bottom: 0;
    width: 25rem;
  }

  @media (--xl) {
    width: 35rem;
  }
}

.filter-buttons {
  display: grid;
  grid-template-areas:
    'design .'
    'development filter'
    'research .';
  row-gap: 4rem;

  @media (--md) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: buttons;
    width: 100%;
  }
}

.design-button {
  grid-area: design;
  margin-top: 2rem;

  @media (--sm) {
    margin-top: 0;
  }
}

.development-button {
  grid-area: development;
}

.research-button {
  grid-area: research;
}

.filter-button-cont {
  grid-area: filter;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (--md) {
    width: min-content;
  }
}

.filter-button {
  width: min-content;
  align-self: center;
}

.filter-remove {
  grid-area: remove;

  @media (--xs) {
    margin-top: 3rem;
  }

  @media (--lg) {
    margin-top: 2rem;
  }
}

.checkcontainer {
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  user-select: none;
}

.defaultcheck {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: -.4rem;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #fff;
  border: solid black .2rem;
}

/* On mouse-over, add a grey background color */

.checkcontainer:hover input ~ .checkmark {
  background-color: lightgray;
}

/* When the checkbox is checked, add a blue background */

.checkcontainer input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */

/* .checkcontainer .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;

  transform: rotate(45deg);
} */

.project-info-cont {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.pop-up-cont {
  position: relative;
}

.project-bg {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .75);
  z-index: 1000;

  @media (--xs) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  @media (--sm) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.project-pop-up {
  flex-direction: column;
  background-color: white;
  display: flex;
  box-shadow: 0 0 8rem 2rem rgba(0, 0, 0, .2);
  position: relative;

  @media (--xs) {
    width: 100%;
    height: 100%;
    margin: 2rem;
  }

  @media (--sm) {
    width: 50rem;
    height: 50rem;
  }
}

.close {
  color: black;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
