:root {
  --yellow-main: #fff000;
  --red-main: #ff003d;
  --blue-main: #75c3db;
  --grey-light: #ebebeb;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 568px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 1024px);
@custom-media --xl screen and (min-width: 1200px);
@custom-media --xxl screen and (min-width: 2400px);
