<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<p><%= film.title %></p>
		<% if(film.poster_path !== null) { %>
		<img
			src="https://image.tmdb.org/t/p/w185/<%= film.poster_path %>"
			alt="poster"
		/>
		<% } else { %>
		<img src="<%= url %>/assets/images/backdrop_poster.png" alt="poster" />
		<% } %>
	</body>
</html>
